@page "/"

<PageTitle>My Student Card</PageTitle>
<div class="d-flex flex-row flex-wrap">
    <div class="p-2">
        <!---Front Card-->
        <Frontcard />
    </div>
    <div class="p-2">
        <!--Id Back-->
        <img src="/image/idback.svg" />
    </div>
</div>
<hr />
<div class="p-2">
    <QRcode />
</div>
