    <div class="p-2 mx-auto">
        <img
          src="image/reload.svg"
          onclick=""
          alt="qrcode"
          id="qrImage"
          class="bg-white p-8 rounded-lg"
          style="width: 200px; height: 200px"
        />
        <div class="p-6" style="font-size: 9pt">
          Scan the Qr code to check validity✅
          </div>
          <div>
              <input type="text" value="12333333333332443" readonly/>
          </div>
      </div>
